<!-- Parameters: list -->

<% list_id = "list-#{list.id}" %>

<li id="<%= list_id %>">
  <div class="collapsible-header">
    <%= render "shared/icon", name: "toc" %>
    <strong><%= link_to list.name, list_path(list) %></strong>
    <span class="right">
      <%= link_to (render "shared/icon",
                  name: "delete"),
                  list_path(list),
                  method: :delete,
                  data: {
                    confirm: "Are you sure you want to delete this list?"
                  },
                  remote: true %>
    </span>
  </div>
  <div class="collapsible-body">
    <span>
      <%= render "form", list: list %>
    </span>
  </div>
</li>

<script>
  // Link to actual list.
  $("#<%= list_id %>").find("a").not("[data-remote=true]").on("click", function(event) {
    // TODO: This interferes with turbolinks (I believe) and is really slowing down going to this link.
    event.stopPropagation();
  });

  // Delete button.
  $("#<%= list_id %>").find("a[data-remote=true]").not().on("click", function(event) {
    event.preventDefault();
    event.stopPropagation();

    $(this).trigger("click.rails");
  });
</script>
