<!-- Parameters: list -->

<li id="list-<%= list.id %>">
  <div class="collapsible-header">
    <%= render "shared/icon", name: "toc" %>
    <strong><%= link_to list.name, list_path(list) %></strong>
    <span class="right">
      <%= link_to (render "shared/icon",
                  name: "delete"),
                  list_path(list),
                  method: :delete,
                  data: {
                    confirm: "Are you sure you want to delete this list?"
                  },
                  remote: true %>
    </span>
  </div>
  <div class="collapsible-body">
    <span>
      <%= render "form", list: list %>
    </span>
  </div>
</li>
