<nav>
  <div class="nav-wrapper">
    <div class="col s12">
      <%= link_to "Lists", lists_path, class: "breadcrumb" %>
      <span class="breadcrumb"><%= @list.name %></span>
      <span class="right">Total Cost: <%= number_to_currency(@list.total_cost) %></span>
    </div>
  </div>
</nav>

<!-- TODO: Instead of a form at the top of the page, have a plus button on the bottom right that pops up a modal to add. -->
<!--       Or maybe, better yet, have a collection member at the bottom that popouts out to the new item form. -->
<!--       After submission, use JS to reset the submission form for quick entry. -->
<ul class="collapsible popout" data-collapsible="expandable">
  <li>
    <%= render "items/add_item", list: @list, item: @new_item %>
  </li>

  <% @items.each do |item| %>
    <li id="item-<%= item.id %>">
      <%= render "items/item", list: @list, item: item %>
    </li>
  <% end %>
</ul>
