<h1><%= @list.name %></h1>

<ul class="collapsible popout list-items" data-collapsible="expandable">
  <%= render "items/add_item", list: @list, item: @new_item %>

  <% @items.each do |item| %>
    <%= render "items/item", list: @list, item: item %>
  <% end %>
</ul>

<footer class="page-footer">
  <div class="container">
    <div class="row white-text">
      <span>
        Total Cost: <span id="total-cost"><%= @list.total_cost %></span>
      </span>
      <span class="right">
        Items Left: <span id="items-remaining"><%= @list.items_remaining %></span>
      </span>
    </div>
  </div>
</footer>
