<!-- Parmaters: list, item -->

<%= form_for item, remote: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, required: true %>

  <div class="row">
    <div class="col s6">
      <%= f.label :price %>
      $<%= f.number_field :price, step: 0.01, required: true %>
    </div>

    <div class="col s6">
      <%= f.label :quantity %>
      <%= f.text_field :quantity, required: true %>
    </div>
  </div>

  <%= f.hidden_field :list_id, value: list.id %>

  <%= f.submit class: ApplicationHelper::BUTTON_CLASS %>
<% end %>
